<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form  action="/marks_navigator2" method = "POST"> 
        <select>
            <option value="">Select a continent</option>
            <optgroup label="Africa">
                <option value="egypt">Egypt</option>
                <option value="south-africa">South Africa</option>
                <option value="morocco">Morocco</option>
            </optgroup>
            <optgroup label="Asia">
                <option value="japan">Japan</option>
                <option value="china">China</option>
                <option value="india">India</option>
            </optgroup>
        </select>
        <input type="submit" value="Submit">
        </form>
    </body>
</html>