<!DOCTYPE html>
<html> 
<title>Attendance Form</title>
<style>
  /* Style for the header */
  .header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }
</style> 
<head>    
<meta name="viewport" content="width=device-width, initial-scale=1">  
<button><img src="C:\POC\Static\download.jpeg" href ="/"/></button>
<title>Attendance info Page</title>
<select name="class_info">  
  <option value="Class">Student_info</option>  
  <option value="10">Class X</option>  
  <option value="9">Class IX</option>  
  <option value="8">Class VIII</option>  
  <option value="7">Class VII</option>  
  <option value="6">Class VI</option>  
  <option value="5">Class V</option>  
  </select> 
  <!-- !-- The following tag input uses the type attribute which specifies the image, and the src attribute for specifying the path of an image, with the height and width attributes. -->
  <input type="image" src="" name="submit" width="100" height="48" alt="submit"/>  
</form>  
</div>
<div class="center">
<button><a href="/marksnavigator"> Marks </a></button>
</div>

<div class="right"> 
<button><a href="/view_attentence_fillter"> Attendance</a> </a></button>
</div>
</form>  
</div>


</div>  
<!-- type="image" src="https://www.freepngimg.com/thumb/submit_button/25497-9-submit-button-photos.png" name="submit" width="100" height="48" alt="submit"/>   -->

</form>  
</head>
<hr>
<h2>Taking attendance for class and date</h2>
    <div>
      <div>
        <h4> Select class:</h4>
        <form action="/attendance" method = "POST">
            <select name="attendence_class">  
            <option value="Class">Class</option>  
            <option value="10">Class X</option>  
            <option value="9">Class IX</option>  
            <option value="8">Class VIII</option>  
            <option value="7">Class VII</option>  
            <option value="6">Class VI</option>  
            <option value="5">Class V</option>  
            </select>   
        </div>
        <div> 
                <label for="Date">Taking Attendance For :</label>
                <input type="date" id="date" name="Date">
        </div>
        <input type="submit" value="Submit">
    </div>
          </head>
</html>