<!DOCTYPE html>
<html>
<head>
    <button><img src="C:\POC\app\skm1zD5XkCQvY5v19Xh5YWqw8O2atNKX7JTBLcNg.png" href ="/"  /></button>
    <title>S.F.S High School </title>
    <style>
    .fieldset-container {
        display: flex; /* or inline-block */
      }
      
      fieldset {
        margin-right: 10px; /* add spacing between fieldsets */
      }
    </style>
</head>
<body>
    <header>
        <h1>High School </h1>
        
    </body>
    <div>
        <h1>Students info</h1>
        <form method="POST" action="{{url_for('select_table')}}">
            <select name="table_name">
                {% for table in tables %}
                    <option value="{{ table }}">{{ table}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Show Table">
        </form>
      </div>
	<form action="/studentinfoCLASS" >
		<label for="Students_info">Students info</label>
		<select id="Students info" name="Students info">
            <fieldset value="10">Class X</fieldset>
            <fieldset value="9">Class IX</fieldset>
            <fieldset value="8">Class VIII</fieldset>
            <fieldset value="7">Class VII</fieldset>
            <fieldset value="6">Class VI</fieldset>
            <fieldset value="5">Class V</fieldset>
		</select>
		
		<label for="dropdown2">Dropdown 2:</label>
		<select id="dropdown2" name="dropdown2">
			<fieldset value="fieldset1">fieldset 1</fieldset>
			<fieldset value="fieldset2">fieldset 2</fieldset>
			<fieldset value="fieldset3">fieldset 3</fieldset>
			<fieldset value="fieldset4">fieldset 4</fieldset>
			<fieldset value="fieldset5">fieldset 5</fieldset>
			<fieldset value="fieldset6">fieldset 6</fieldset>
		</select>
		
		<label for="dropdown3">Dropdown 3:</label>
		<select id="dropdown3" name="dropdown3">
			<fieldset value="fieldset1">fieldset 1</fieldset>
			<fieldset value="fieldset2">fieldset 2</fieldset>
			<fieldset value="fieldset3">fieldset 3</fieldset>
			<fieldset value="fieldset4">fieldset 4</fieldset>
			<fieldset value="fieldset5">fieldset 5</fieldset>
			<fieldset value="fieldset6">fieldset 6</fieldset>
		</select>
		
		<label for="dropdown4">Dropdown 4:</label>
		<select id="dropdown4" name="dropdown4">
			<fieldset value="fieldset1">fieldset 1</fieldset>
			<fieldset value="fieldset2">fieldset 2</fieldset>
			<fieldset value="fieldset3">fieldset 3</fieldset>
			<fieldset value="fieldset4">fieldset 4</fieldset>
			<fieldset value="fieldset5">fieldset 5</fieldset>
			<fieldset value="fieldset6">fieldset 6</fieldset>
		</select>
	</form>
</body>
</html>
